/* TODO: REMOVE */
.my-container {
    position: absolute;
    left: 200px;
    bottom: 500px;
    width: 600px;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    --unit-width: 15px;
    --timeline-color: #000;
    padding-top: var(--unit-width);
}

.timeline-container #line {
    flex-grow: 1;
    outline: 1px solid var(--timeline-color);
    max-height: 0;
}

.timeline-container #timeline {
    display: flex;
    cursor: pointer;
    user-select: none;
    justify-content: space-evenly;
}

.timeline-container .timeline-unit {
    flex: 1 1 auto;
    white-space: nowrap;
    text-align: center;
    max-width: var(--unit-width);

    position: relative;

    padding-top: 0.2em;
}

.timeline-container .timeline-unit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    outline: 1px solid var(--timeline-color);
    width: 0;
    height: 0.35em;
}

.timeline-container .timeline-unit.long-tick::before {
    height: 0.8em;
}

.timeline-container .label-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 0.5em;
    min-height: 2.5em;
}

.timeline-container .small-label {
    font-size: 0.85em;
    color: var(--timeline-color);
}

.timeline-container .large-label {
    font-size: 1.15em;
    color: var(--timeline-color);
    padding-top: 0.2ch;
}

.timeline-container #start-marker {
    width: var(--unit-width);
    height: var(--unit-width);

    position: absolute;
    top: 0;
    display: none;
}

.timeline-container #stop-marker {
    width: var(--unit-width);
    height: var(--unit-width);

    position: absolute;
    top: 0;
    display: none;
}